<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.applicationLaunchType">
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="BCC\os.exe"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="os"/>
</launchConfiguration>
